.input__wrapper {
  width: 100%;
  position: relative;
}

.input-icon {
  position: absolute;
  min-width: 4rem;
  text-align: center;
  margin-top: 1.1rem;
}

.input-field {
  width: 100%;
  padding: 1rem 4rem;
  background-color: var(--elements);
  border-radius: 0.5rem;
  border: 0;
  color: var(--input);
  outline: none;
}
